.alignRight {
    text-align: right
}
.arrowButton {
    line-height: 18px;
    box-sizing: border-box;
    font-size: 1.7em;
    font-weight: bold;
    cursor: pointer;
    width: 33px;  
    height: 22px;
}
.buttonLink:hover {
    text-decoration: none;
}
.buttonLink:link {
    text-decoration: none;
}
.buttonLink:visited {
    text-decoration: none;
}
.buttonLink:active {
    text-decoration: none;
}