.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.progress-bar-container {
    position: relative;
    z-index: 9050;
    top: 7rem;
    opacity: 0.8;
    width: 300px;
    display: block;
}
.progress-status-container {
    position: relative;
    z-index: 9050;
    top: 7rem;
    display: flex;
    justify-content: center;
}