.defaultGlAccounts--header lightning-button {
    font-size: 13px;
    font-weight: normal;
}

.defaultGlAccounts--heading {
    font-size: 14px;
}

.defaultGlAccounts--subheading {
    font-size: 13px;
}