.accounting-info--container {
    padding: 0 12px;
}
.accounting-info--container .accounting-info--container_label {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #3E3E3C;
}
.accounting-info--container .accounting-info--container_group {
    padding-top: 16px;
    padding-left: 4px;
}